body{
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0 auto;
}
.p-paginator-page.p-paginator-page-selected {
  background: #f4d911 !important;
  color: #fff !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
